<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daiqi.mapper.SceneCardCheckMapper">
  <select id="selectByUserSceneCard" resultType="com.daiqi.entity.SceneCardCheck">
    select * from scene_card_check
    where user_id = #{userId} and scene_id = #{sceneId} and card_id = #{cardId}
    limit 1
  </select>

  <select id="selectByUserSceneCardIds" resultType="com.daiqi.entity.SceneCardCheck">
    select * from scene_card_check
    where user_id = #{userId} and scene_id = #{sceneId} and card_id in
    <foreach collection="cardIds" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <select id="countCheckedByUserSceneCardIds" resultType="long">
    select count(1) from scene_card_check
    where user_id = #{userId} and scene_id = #{sceneId} and checked = 1 and card_id in
    <foreach collection="cardIds" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <delete id="deleteByUserScene">
    delete from scene_card_check where user_id = #{userId} and scene_id = #{sceneId}
  </delete>
</mapper>
